# Ignore virtual environment
/venv/

# Ignore Visual Studio Code settings
/.vscode/

# Ignore compiled Python files
**/__pycache__/
*.py[cod]

# Ignore Django migrations
/sklep_monopolowy/migrations/
/monopolowy/migrations/

# Ignore the SQLite database file
/db.sqlite3
