{% extends 'monopolowy/base.html' %}
{% load static %}

{% block title %}
    Asortyment
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="row mb-3">
        <h2>Asortyment</h2>
        <a class="position-absolute end-0 btn btn-primary col-lg-1 col-md-2 col-sm-3 col-3" href="#">
            Dodaj
        </a>
    </div>
    {% for item in asortyment %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <a class="link-dark link-underline-opacity-0" href="{% url 'monopolowy/asortyment_details' item.id %}">
      <div class="card h-100">
            {% if item.zdjecie %}
            <img class="card-img-top" src="{% static 'monopolowy/pictures/'|add:item.zdjecie %}" alt="{{ item.nazwa }}">
            {% endif %}
            <div class="card-body">
              <h4 class="card-title">{{ item.nazwa }}</h4>
              <h5>{{ item.cena }} PLN</h5>
            </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}