{% extends 'monopolowy/base.html' %}
{% load index %}
{% load static %}

{% block title %}
    Zamówienia
{% endblock %}

{% block content %}
    <div class="container">
    <h1>Zamówienia</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Asortyment</th>
            <th scope="col">Data</th>
            <th scope="col">Kwota</th>
        </tr>
      </thead>
      <tbody>
        {% for zamowienie in zamowienia %}
        <tr>
              <th scope="row">{{ zamowienie.id }}</th>
              <td>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nazwa</th>
                            <th>Typ produktu</th>
                            <th>Cena</th>
                            <th>Opis</th>
                            <th>Zdjęcie</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for asortyment in zamowienie.asortyment.all %}
                    <tr>
                        <td>{{ asortyment.id }}</td>
                        <td>{{ asortyment.nazwa }}</td>
                        <td>{{ asortyment.typ_produktu }}</td>
                        <td>{{ asortyment.cena }}</td>
                        <td>{{ asortyment.opis }}</td>
                        {% if asortyment.zdjecie %}
                            <td>
                                <img height="82" src="{% static 'monopolowy/pictures/'|add:asortyment.zdjecie %}"  alt=""/>
                            </td>
                        {% endif %}
                    </tr>
                {% if not forloop.last %} {% endif %}
                {% endfor %}
                </tbody>
                </table>
                </td>
            <td>{{ zamowienie.data }}</td>
            <td>{{ koszt_zamowienia|index:forloop.counter0 }} zł</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}